# Some Python Basics

## Variables

Variables in Python are dynamically typed, meaning that the type is inferred from assignment, which is often referred to as duck typing (if it acts like a duck and looks like a duck, its a duck).

In [1]:
var1 = 5
var2 = 100
var3 = True
var4 = None
var5 = "I can be anything"
print(var1, var2, var3, var4, var5)

5 100 True None I can be anything

To get more inforation on a variables type, you can use either the type() function.

In [2]:
var6 = 100
var7 = "darkness"
print(type(var6), type(var7))

<class 'int'> <class 'str'>

We can also get input from users to fill our variables.

In [3]:
var8 = input("whats your name? ")
print("Hello, " + var8)

whats your name?  Chelsea

Hello, Chelsea

## Booleans

Booleans can be handy when working with dataframes, as we will see later.  You can also add them and they are interpreted as False = 0 and True = 1

In [4]:
var9 = True
var10 = False
var11 = var9 + var10
print(var9, var10, var11)

True False 1

## Strings
Strings in Python are created with ' or " and are immutable, if changes need to be made to a string a new one is returned.  The default encoding for strings in Python is Unicode UTF-8, this means that they are automatically compatible with different languages.  Python strings work similar to STL strings since they are classes with support functions built in, however in Python the amount of functionality is much larger.

In [5]:
var12 = 'Hello ' + "world, " + "Python"
var13 = var12.lower()

print(var13)

hello world, python

## Lists
In c++ choosing which container to use is actually very important (list, queue, stack, vector, array?), in Python this choice is simplified into a single container that has the functionality of everything.  To create a list use the square brackets [].  Notice that the types don't have to match, we don't care about variable types.

In [6]:
list1 = [1, 2, 3, 4, 5.0, 6.0, True, False]

list1.append(123)

print(list1)

[1, 2, 3, 4, 5.0, 6.0, True, False, 123]

# Pandas
In the last lesson, we got to see Pandas in action by using it to make some visualizations of the Titanic data.  Let's take some time to explore some of the cool features of Python and Pandas.

## The History of Pandas

Origins:

* 2008: The Pandas project was started by Wes McKinney when he was working at AQR Capital Management. The main motivation was to have a flexible tool to perform quantitative analysis on financial data. The name "pandas" is derived from the term "panel data," a common term for data that involves observations over time.

Early Development:

* 2009: Wes McKinney released the first public version of pandas. The initial versions laid the foundation with data structures like Series and DataFrame, which have since become staples for data manipulation in Python.

Increasing Adoption:

* 2010s: As data science and Python grew in popularity during the 2010s, so did pandas. It quickly became one of the cornerstones of the scientific stack in Python alongside libraries like NumPy, SciPy, and Matplotlib.
The library received significant contributions from many developers worldwide, enhancing its capabilities and making it more robust.

Books and Documentation:

* 2012: Wes McKinney published "Python for Data Analysis," which prominently features pandas and its application in data analysis. This book played a crucial role in introducing many individuals to pandas and data analysis in Python.


Pandas is often seen as a gateway to data science in Python. Its simple yet powerful interface makes it a favorite for beginners and professionals alike.
With the rise of big data tools like Apache Spark, Dask, and Vaex, pandas also integrates with these tools, allowing users to scale their analyses when necessary.

## DataFrames and Series

The DataFrame is the primary structure we will be using for this class.  It is an associative, two dimensional data structure. Imagine a spreadsheet page,  SQL table, or flat file.  The series object is a one dimensional data structure that represents a single column of data.

We can manually create a DataFrame from dictionaries, lists, series, and much else.  We can also add new features to a DataFrame, or even combine multiple DataFrames.  If our data is provided to us we can read or write to a variety of different formats: CSV, Excel, SQL, JSON, URL, clipboard, etc.

A series object can be thought of as single column of a DataFrame.

## Common useful Pandas methods

### DataFrame Creation and Input/Output
- `pd.DataFrame()`: Create a DataFrame.
- `pd.read_csv()`: Read a CSV file into a DataFrame.
- `pd.read_excel()`: Read an Excel file into a DataFrame.
- `df.to_csv()`: Write a DataFrame to a CSV file.
- `df.to_excel()`: Write a DataFrame to an Excel file.

### Viewing and Inspecting Data
- `df.head()`: View the first few rows of the DataFrame.
- `df.tail()`: View the last few rows of the DataFrame.
- `df.info()`: Get a concise summary of the DataFrame.
- `df.describe()`: Generate descriptive statistics.
- `df.shape`: Get the dimensions of the DataFrame.
- `df.columns`: Get the column labels.
- `df.index`: Get the row labels.

### Selection and Filtering
- `df.loc[]`: Access a group of rows and columns by labels.
- `df.iloc[]`: Access a group of rows and columns by integer position.
- `df[df['column'] > value]`: Filter rows based on column values.
- `df.query()`: Query the DataFrame with a boolean expression.

### Grouping and Aggregation
- `df.groupby()`: Group data by one or more columns.
- `df.agg()`: Aggregate using one or more operations over the specified axis.
- `df.size()`: Get the size of the DataFrame.
- `df.sum()`: Compute the sum of values.
- `df.mean()`: Compute the mean of values.
- `df.median()`: Compute the median of values.
- `df.min()`: Compute the minimum of values.
- `df.max()`: Compute the maximum of values.
- `df.count()`: Count the number of non-NA/null observations.

### Data Cleaning and Preparation
- `df.drop()`: Drop specified labels from rows or columns.
- `df.dropna()`: Remove missing values.
- `df.fillna()`: Fill missing values.
- `df.replace()`: Replace values.
- `df.rename()`: Rename labels.
- `df.astype()`: Cast a pandas object to a specified dtype.
- `df.sort_values()`: Sort by the values along either axis.
- `df.sort_index()`: Sort by the index.
- `df.set_index()`: Set the DataFrame index using existing columns.
- `df.reset_index()`: Reset the index, or a level of it.

### Merging and Joining
- `pd.merge()`: Merge DataFrame objects by performing a database-style join.
- `df.join()`: Join columns with other DataFrame.
- `pd.concat()`: Concatenate pandas objects along a particular axis.

### Date and Time
- `pd.to_datetime()`: Convert argument to datetime.
- `df['column'].dt`: Accessor object for datetime-like properties.

### String Methods
- `df['column'].str`: Accessor object for string methods.
- `df['column'].str.contains()`: Test if pattern or regex is contained within a string of a Series or Index.
- `df['column'].str.replace()`: Replace occurrences of pattern/regex/string with some other string.

### Statistical Functions
- `df.corr()`: Compute pairwise correlation of columns.
- `df.cov()`: Compute pairwise covariance of columns.
- `df.var()`: Compute variance of columns.
- `df.std()`: Compute standard deviation of columns.
- `df.mad()`: Compute mean absolute deviation of columns.
- `df.kurt()`: Compute kurtosis of columns.
- `df.skew()`: Compute skewness of columns.

### Visualization
- `df.plot()`: Make plots of DataFrame using matplotlib.

### Miscellaneous
- `df.pivot()`: Produce pivot table based on 3 columns of this DataFrame.
- `df.pivot_table()`: Create a spreadsheet-style pivot table as a DataFrame.
- `df.apply()`: Apply a function along an axis of the DataFrame.
- `df.applymap()`: Apply a function to a DataFrame elementwise.

# Reading data from different sources

## From a URL

In [7]:
import pandas as pd

url = 'https://users.stat.ufl.edu/~winner/data/concussion.dat'

column_names = ['Gender', 'Sport', 'Academic Year', 'Concussion', 'Count']

concussion_df = pd.read_csv(url, sep = r"\s+", names=column_names)

concussion_df.head()

   Gender   Sport  Academic Year  Concussion  Count
0  Female  Soccer           1997           0  24930
1  Female  Soccer           1997           1     51
2  Female  Soccer           1998           0  22887
3  Female  Soccer           1998           1     47
4  Female  Soccer           1999           0  27107

## From a JSON File

In [2]:


cancer_df = pd.read_json("assets/cancer.json")

cancer_df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,1,1,1,2,2,1,2,2,2,2,2,2,1,NO
1,F,55,1,2,2,1,1,2,2,2,1,1,1,2,2,NO
2,F,78,2,2,1,1,1,2,1,2,1,1,2,1,1,YES
3,M,60,2,1,1,1,2,1,2,1,1,2,1,2,2,YES
4,F,80,1,1,2,1,1,2,1,2,1,1,1,1,2,NO

## Merging multiple files

Sometimes datasets are large and complex and have to be merged from multiple files.  We'll see how this works with the Instacart data.

In [9]:
#Orders dataframe
orders_df = pd.read_csv('C:/Users/chelseam/OneDrive - Full Sail University/Desktop/Data Visualization and Modeling/instacart/orders.csv')
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [10]:
#Products dataframe

products_df = pd.read_csv('C:/Users/chelseam/OneDrive - Full Sail University/Desktop/Data Visualization and Modeling/instacart/products.csv')
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

Can we match products with orders yet?

In [11]:
print(orders_df.info())
print(orders_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB
None
(3421083, 7)

In [12]:
print(products_df.info())
print(products_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
None
(49688, 4)

What's the deal with prior and train?

In [13]:
orders_df['eval_set'].value_counts()

prior    3214874
train     131209
test       75000
Name: eval_set, dtype: int64

In [14]:
#Order-products dataframe

order_products_prior_df = pd.read_csv('C:/Users/chelseam/OneDrive - Full Sail University/Desktop/Data Visualization and Modeling/instacart/order_products__prior.csv')
order_products_prior_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
print(order_products_prior_df.info())
print(order_products_prior_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB
None
(32434489, 4)

In [16]:
#Order-products dataframe

order_products_train_df = pd.read_csv('C:/Users/chelseam/OneDrive - Full Sail University/Desktop/Data Visualization and Modeling/instacart/order_products__train.csv')
order_products_train_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [17]:
print(order_products_train_df.info())
print(order_products_train_df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           1384617 non-null  int64
 1   product_id         1384617 non-null  int64
 2   add_to_cart_order  1384617 non-null  int64
 3   reordered          1384617 non-null  int64
dtypes: int64(4)
memory usage: 42.3 MB
None
(1384617, 4)

What do we need to do to merge all four files together?

In [18]:
#Concatenate order_products_train and order_products_prior

order_products_df = pd.concat([order_products_prior_df, order_products_train_df], axis=0)

print(order_products_df.shape)
order_products_df.head()

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
#Merge with orders

orders_merged_df = pd.merge(order_products_df, orders_df, on='order_id', how='inner')
orders_merged_df.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [20]:
#Merge with orders

orders_products_merged_df = pd.merge(orders_merged_df, products_df, on='product_id', how='inner')
orders_products_merged_df.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16
1,26,33120,5,0,153404,prior,2,0,16,7.0,Organic Egg Whites,86,16
2,120,33120,13,0,23750,prior,11,6,8,10.0,Organic Egg Whites,86,16
3,327,33120,5,1,58707,prior,21,6,9,8.0,Organic Egg Whites,86,16
4,390,33120,28,1,166654,prior,48,0,12,9.0,Organic Egg Whites,86,16

What was the most frequently purchased product?

In [21]:
orders_products_merged_df['product_name'].describe(include='object')

count     33819106
unique       49685
top         Banana
freq        491291
Name: product_name, dtype: object

Is there any missing data?

In [22]:
orders_products_merged_df.isnull().sum()

order_id                        0
product_id                      0
add_to_cart_order               0
reordered                       0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2078068
product_name                    0
aisle_id                        0
department_id                   0
dtype: int64

In [23]:
orders_products_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 33819105
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   product_id              int64
 2   add_to_cart_order       int64
 3   reordered               int64
 4   user_id                 int64
 5   eval_set                object
 6   order_number            int64
 7   order_dow               int64
 8   order_hour_of_day       int64
 9   days_since_prior_order  float64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
dtypes: float64(1), int64(10), object(2)
memory usage: 3.5+ GB

In [24]:
orders_products_merged_df.shape

(33819106, 13)

### Saving a CSV

In [25]:
#orders_products_merged_df.to_csv('instacart.csv', index=False)

## Data wrangling

### Sorting

Can we print a list of products in alphabetical order?

In [26]:

product_sorted_df = orders_products_merged_df.sort_values(by='product_name')
product_sorted_df.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id
31450983,10427,25773,1,1,22488,prior,28,4,10,3.0,#2 Coffee Filters,26,7
31451262,1246198,25773,17,0,202045,prior,9,2,18,8.0,#2 Coffee Filters,26,7
31451261,1245618,25773,5,1,159157,prior,9,5,14,6.0,#2 Coffee Filters,26,7
31451260,1245428,25773,9,0,74580,prior,4,1,1,19.0,#2 Coffee Filters,26,7
31451259,1242167,25773,11,0,48730,prior,4,1,12,30.0,#2 Coffee Filters,26,7

Can we print a list of the products in each user's orders?

In [27]:
product_sorted_df = orders_products_merged_df.sort_values(by=['user_id', 'order_id', 'product_name'])
product_sorted_df[['user_id', 'order_id', 'product_name']].head(10)

          user_id  order_id            product_name
708089          1    431534  Bag of Organic Bananas
14794951        1    431534          Bartlett Pears
14934278        1    431534       Honeycrisp Apples
17033304        1    431534     Organic Fuji Apples
19733429        1    431534   Organic String Cheese
22444622        1    431534     Original Beef Jerky
19132972        1    431534              Pistachios
3160777         1    431534                    Soda
14611266        1    473747    Creamy Almond Butter
19733512        1    473747   Organic String Cheese

Can we print a list of the products that were ordered at each time of day sorted in alphabetical order?

In [28]:
product_sorted_df = orders_products_merged_df.sort_values(by=['order_hour_of_day', 'product_name'])
product_sorted_df[['order_hour_of_day', 'product_name']].head(10)

          order_hour_of_day                                     product_name
31451258                  0                                #2 Coffee Filters
31451413                  0                                #2 Coffee Filters
31451656                  0                                #2 Coffee Filters
32463061                  0                  #4 Natural Brown Coffee Filters
32463101                  0                  #4 Natural Brown Coffee Filters
32463197                  0                  #4 Natural Brown Coffee Filters
33774508                  0    (70% Juice!) Mountain Raspberry Juice Squeeze
33636927                  0                             .5\" Waterproof Tape
32438391                  0          0 Calorie Acai Raspberry Water Beverage
27948786                  0  0 Calorie Strawberry Dragonfruit Water Beverage

### Groupby

What is the order size for each user's order?

In [29]:
orders_products_merged_df.groupby(['user_id', 'order_id'])['add_to_cart_order'].size()

user_id  order_id
1        431534       8
         473747       5
         550135       5
         1187899     11
         2254736      5
                     ..
206209   2307371      3
         2558525      3
         2977660      9
         3154581     13
         3186442      2
Name: add_to_cart_order, Length: 3346083, dtype: int64

What is the shortest amount of time that each user has gone since the last order?

In [30]:
orders_products_merged_df.groupby(['user_id', 'order_id'])['days_since_prior_order'].min()

user_id  order_id
1        431534      28.0
         473747      21.0
         550135      20.0
         1187899     14.0
         2254736     29.0
                     ...
206209   2307371      3.0
         2558525     22.0
         2977660      7.0
         3154581      NaN
         3186442      3.0
Name: days_since_prior_order, Length: 3346083, dtype: float64

### Subsets

Create a subset where the product name is Banana

In [31]:
Banana = orders_products_merged_df[orders_products_merged_df['product_name'] == 'Banana']

Banana.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id
1842557,10,24852,1,1,135442,prior,4,6,8,8.0,Banana,24,4
1842558,20,24852,6,0,182912,prior,1,6,17,NaN,Banana,24,4
1842559,22,24852,3,1,30822,prior,25,1,8,12.0,Banana,24,4
1842560,26,24852,2,1,153404,prior,2,0,16,7.0,Banana,24,4
1842561,52,24852,2,1,27498,prior,18,3,10,1.0,Banana,24,4

Create a subset of orders that contain banans (product_name = Banana, Bunch of Bananas, banana flavor, etc.)

In [32]:
Bananas = orders_products_merged_df.loc[orders_products_merged_df['product_name'].str.contains('banana', case=False)]

Bananas.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id
660276,5,13176,1,1,156122,prior,42,6,16,9.0,Bag of Organic Bananas,24,4
660277,27,13176,1,1,129389,prior,16,6,20,14.0,Bag of Organic Bananas,24,4
660278,29,13176,3,1,81606,prior,14,5,12,10.0,Bag of Organic Bananas,24,4
660279,32,13176,3,1,119216,prior,4,1,19,11.0,Bag of Organic Bananas,24,4
660280,42,13176,3,1,89125,prior,11,0,20,3.0,Bag of Organic Bananas,24,4

In how many ways do banans appear?

In [33]:
Bananas['product_name'].value_counts()

Banana                                                      491291
Bag of Organic Bananas                                      394930
Organic Banana                                               20915
Organic YoKids Smoothie Strawberry Banana Lowfat Yogurt       7535
YoKids Strawberry Banana/Strawberry Yogurt                    6966
                                                             ...
Chocolate Banana Snack Bar                                       3
Red Banana                                                       3
Training  Fluoride Free Toothpaste Apple & Banana Flavor         2
Organic Kiwi, Banana, & Apple with Super Grain Salba             2
7.04 Oz. Grahamfuls Banana Vanilla 8ct                           1
Name: product_name, Length: 376, dtype: int64

### Feature engineering

What is the most commonly ordered product for each time of day where time of day is categorized as early morning (4 - noon), afternoon (noon - 8pm), and night (8am to 4am)?

In [34]:
# Step 1: Categorize hours of the day
orders_products_merged_df['time_of_day'] = 'Night'  # Default category

orders_products_merged_df.loc[orders_products_merged_df['order_hour_of_day'].between(4, 8), 'time_of_day'] = 'Early Morning'

orders_products_merged_df.loc[orders_products_merged_df['order_hour_of_day'].between(8, 12), 'time_of_day'] = 'Morning'

orders_products_merged_df.loc[orders_products_merged_df['order_hour_of_day'].between(13, 17), 'time_of_day'] = 'Afternoon'


# Step 3: Count the number of times each product is ordered during each time of day
time_product_counts = orders_products_merged_df.groupby(['time_of_day', 'product_name']).size().reset_index(name='order_count')

# Step 4: Find the most commonly ordered product for each time of day
most_common_by_time = time_product_counts.loc[time_product_counts.groupby('time_of_day')['order_count'].idxmax()]

# Display the results
print(most_common_by_time)

          time_of_day product_name  order_count
3627        Afternoon       Banana       188295
51667   Early Morning       Banana        22084
89006         Morning       Banana       187626
137695          Night       Banana        93286